<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386213238065-ev21db3nsgkm4mk9np67df3e1m56u66c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386213238065-ev21db3nsgkm4mk9np67df3e1m56u66c</string>
	<key>API_KEY</key>
	<string>AIzaSyCrEXLCpv_He4SGDeC4neoAAyRYWJ_tPzU</string>
	<key>GCM_SENDER_ID</key>
	<string>386213238065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messagingApp</string>
	<key>PROJECT_ID</key>
	<string>messagingapp-90f35</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingapp-90f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386213238065:ios:87aaf351470ef415994c10</string>
</dict>
</plist>